<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="no.nav" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <springProfile name="!dev &amp; !prod">
        <root level="info">
            <appender-ref ref="STDOUT_JSON"/>
        </root>
    </springProfile>

    <springProfile  name="dev | prod">
        <appender name="secureJson" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>50MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <logger name="secure" level="info" additivity="false">
            <appender-ref ref="secureJson"/>
        </logger>

        <root level="info">
            <appender-ref ref="STDOUT_JSON"/>
        </root>
    </springProfile>
</configuration>